#cabecera {
    font-size: 50px;
    padding-left: 20cm;
}
#p1 {
    padding-left: 20cm;
    padding-right: 6px;
    font-size: 16px
   
}
#loing {
    color:blue;
    padding-right: 6px;
}

#div2 {
    padding-left: 20cm;
    padding-inline-end: 6px;
}